<!DOCTYPE html>
<html lang="ko">
<html>
<head>
<meta charset="UTF-8">
<title>주문자 정보 입력</title>
<script src="//t1.kakaocdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/kakao/kakao-address.js" defer></script>
<script src="/js/order/order.js" defer></script>
</head>
<body>
	<h1>배송지 입력@@</h1>

	<span>배송지 정보</span>

	<div>주문자 정보</div>
	<input type="text" id="recipient" placeholder="이름을 입력해주세요.">
	<input type="text" id="phone" placeholder="휴대전화번호를 -없이 입력해 주세요.">
	<hr>
	<div>배송지 정보</div>
	<input type="text" id="zipcode" readonly placeholder="우편번호">
	<input type="button" onclick="execDaumPostcode()" value="우편번호 찾기">
	<br>
	<input type="text" id="address" readonly placeholder="주소">
	<br>
	<input type="text" id="detailAddress" placeholder="상세주소">
	<input type="text" id="deliveryRequest" placeholder="배송 요청사항">
	<hr>
	<div>주문내역</div>
	<div th:unless="${#lists.isEmpty(order.orderItems)}">
		<div th:each="item : ${order.orderItems}">
			<span th:text="${item.bookTitle}"></span> <span> x</span> <span
				th:text="${item.quantity}"></span> <span
				th:text="${item.totalPrice}+'원'"></span>
		</div>
	</div>


	<div>
		최종 결제 금액 : <span th:text="${order.totalPrice}"></span>원
	</div>
	<button onclick="submitOrder()">결제하기</button>
</body>
</html>