<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <script src="https://js.tosspayments.com/v2/standard"></script>
	<script src="/js/payments/checkout.js" defer></script>
	<link rel="stylesheet" href="/css/payments/payment.css">
  </head>
  <body>
  	<h1>결제하기</h1>
  	<div id="payment-data"  th:data-order-number="${order.orderNumber}" th:data-order-name="${orderName}" th:data-total-price="${order.totalPrice}" th:data-client-key="${tossClientKey}"></div>
  	
  	
  	<div>
        주문번호:
        <span th:text="${order.orderNumber}"></span>
    </div>

	<div>
        주문상품:
        <span th:text="${orderName}"></span>
    </div>

    <div>
        결제금액:
        <span th:text="${order.totalPrice}"></span>원
    </div>
  	
 

    <button class="button" id="payment-button" style="margin-top: 30px" disabled>결제하기</button>
  </body>
</html>