<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>결제 실패</title>

<script src="/js/payments/fail.js" defer></script>
</head>

<body>
	<div class="box_section" style="width: 600px">
		<h2>결제에 실패했습니다.</h2>

		<div style="margin-top: 30px">
			<strong>오류 코드</strong> <span id="code"></span>
		</div>

		<div style="margin-top: 10px">
			<strong>실패 사유</strong> <span id="message"></span>
		</div>

		<button id="retry-button" type="button" style="margin-top: 30px">
			다시 결제하기</button>
	</div>
</body>
</html>