<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>결제 처리</title>
  <script src="/js/payments/success.js"defer></script>
</head>

<body>
  <div
    class="box_section"
    style="width: 600px">

    <h2 id="payment-title">
      결제를 처리하고 있습니다.
    </h2>

    <div style="margin-top: 50px">
      <strong>결제금액</strong>

      <span id="amount"></span>
    </div>

    <div style="margin-top: 10px">
      <strong>주문번호</strong>

      <span id="orderId"></span>
    </div>

    <div style="margin-top: 10px">
      <strong>결제 정보</strong>

      <span
        id="paymentKey"
        style="
          white-space: initial;
          word-break: break-all;
        ">
      </span>
    </div>

    <p id="payment-message">
      잠시만 기다려주세요.
    </p>
  </div>
</body>
</html>