<!DOCTYPE html>
<html lang="ko">
<html>
<head>
<meta charset="UTF-8">
<title>장바구니</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/cart/cart.css">
<script src="/js/cart/cart.js"></script>
</head>
<body>
	<h1>장바구니</h1>

	<div class="cart-tabs">
		<button type="button" onclick="cartTab('bookCart')">도서</button>

		<button type="button" onclick="cartTab('ticketCart')">티켓</button>
	</div>

	<div id="bookCart"></div>

	<div id="ticketCart" hidden></div>
</body>
</html>