<!DOCTYPE html>
<html lang="ko">
<html>
<head>
<meta charset="UTF-8">
<title>장바구니 테스트 페이지</title>
</head>
<body>
	<h1>@@@장바구니 테스트@@@@</h1>

	<div>
		<p>
			회원 정보: <span id="currentMemberId"></span>
		</p>
	</div>

	<div>
		<div>임시 도서 상품 담기</div>
		<button onclick="addCartItem(1)">도서 담기(book_id=1)</button>
		<button onclick="addCartItem(2)">도서 담기(book_id=2)</button>
		<button onclick="addCartItem(3)">도서 담기(book_id=3)</button>
		<button onclick="addCartItem(4)">도서 담기(book_id=4)</button>
	</div>

	<div>
		<div>티켓 담기</div>
		<button onclick="addPerformance(1)">공연 담기(perfermance_id=1)</button>
		<button onclick="addPerformance(2)">공연 담기(perfermance_id=2)</button>
		<button onclick="addPerformance(3)">공연 담기(perfermance_id=3)</button>
	</div>
	<hr>

	<a href="/cart">장바구니 이동</a>

	<div>테스트용 예매 번호 생성</div>
	<input id="reservationNumber">
	<button onclick="moveToPerformancePayment()">공연 결제 페이지 이동</button>

	<hr>
	<a href="/history">구매내역 이동</a>
	<hr>
	<a href="/admin/orders">도서 환불, 택배 번호 관리(관리자 전용)</a>
</body>
<script>
	window.onload = async function() {
	
	    try {
	        await loadCurrentMember();
	
	        document.getElementById("currentMemberId").textContent = getCurrentMemberEmail() + " / " + getCurrentMemberId();
	
	    } catch (error) {
	        console.error(error);
	
	        document.getElementById("currentMemberId").textContent = "로그인 후 이용해주세요";
	    }
	};


	/* 임시 도서 담기 */
	async function addCartItem(bookId) {
		const params = new URLSearchParams();

		params.append("bookId", String(bookId));
		params.append("quantity", "1");

		try {
			const response = await
			fetch("/api/cart/items", {
				method : "POST",
				headers : {
					"Content-Type" : "application/x-www-form-urlencoded",
					...getAuthHeaders()
				},
				body : params
			});

			const message = await
			response.text();

			if (!response.ok) {
				console.error("서버 오류:", message);

				alert(message || "도서 장바구니 추가에 실패했습니다.");
				return;
			}

			alert(message);
		} catch (error) {
			console.error(error);
			alert("요청 중 오류가 발생했습니다.");
		}
	}


	let currentMember = null;

	async function loadCurrentMember() {
	
	    currentMember = await getCurrentMember();
	
	    console.log("현재 로그인 회원:", currentMember);
	}
	
	function getCurrentMemberId() {
	
	    return currentMember ? currentMember.id : null;
	}
	
	function getCurrentMemberEmail() {
	
	    return currentMember ? currentMember.email : null;
	}
	
	async function getCurrentMember() {

	    const response = await fetch(
	        "/members/me",
	        {
	            headers: getAuthHeaders()
	        }
	    );

	    if (!response.ok) {

	        const message = await response.text();

	        throw new Error(
	            message || "로그인 회원 정보를 가져오지 못했습니다."
	        );
	    }

	    return await response.json();
	}

	/* 임시 공연 담기 */
	async function addPerformance(performanceScheduleId) {
		const params = new URLSearchParams();


		params.append("performanceScheduleId", String(performanceScheduleId));

		try {
			const response = await
			fetch("/api/cart/performances", {
				method : "POST",
				headers : {
					"Content-Type" : "application/x-www-form-urlencoded",
					...getAuthHeaders()
				},
				body : params
			});

			const message = await
			response.text();

			if (!response.ok) {
				console.error("서버 오류:", message);

				alert(message || "공연 장바구니 추가에 실패했습니다.");
				return;
			}

			alert(message);

		} catch (error) {
			console.error(error);

			alert("요청 중 오류가 발생했습니다.");
		}

	}

	function moveToPerformancePayment() {
		const reservationNumber = document.getElementById("reservationNumber").value
				.trim();

		if (!reservationNumber) {
			alert("예매번호를 입력해주세요.");
			return;
		}

		location.href = "/payments/checkout?orderNumber="
				+ encodeURIComponent(reservationNumber);
	}
	
	function getAuthHeaders() {

	    const token =
	        localStorage.getItem("token");

	    if (!token) {
	        throw new Error("로그인이 필요합니다.");
	    }

	    return {
	        "Authorization":
	            `Bearer ${token}`
	    };
	}
</script>
</html>