<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>구매내역</title>
<script src="/js/history/order-history.js" defer></script>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/history/order-history.css">
</head>
<body>

	<h1>구매내역</h1>

	<div>
		<button type="button" onclick="historyTab('bookHistory')">도서</button>

		<button type="button" onclick="historyTab('ticketHistory')">티켓</button>
	</div>

	<hr>

	<div class="bookHistoryItems" id="book_sub_title">주문 내역</div>

	<div class="ticketHistoryItems" id="ticket_sub_title" hidden>예매 내역</div>

	<div class="bookHistoryItems" id="bookHistory"></div>

	<div class="ticketHistoryItems" id="ticketHistory" hidden></div>


<button onclick="location.href='/mainpage.html'" style="position:fixed; top:15px; left:15px; z-index:9999; background:#34495e; color:#fff; border:none; padding:8px 16px; cursor:pointer; font-weight:bold; box-shadow:0 2px 5px rgba(0,0,0,0.2);">메인페이지로 이동</button>

</body>

</html>